<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.reactnativepaygosdk">

  <application
    tools:replace="android:allowBackup"
    android:allowBackup="false"
    >
    <service
      android:name="br.com.setis.interfaceautomacao.ComunicacaoServico"
      android:exported="true"
      tools:node="merge"
      tools:overrideLibrary="br.com.setis.interfaceautomacao" />
  </application>

</manifest>
